a {
	font-weight: bold;
	font-size:20;
}

li {
	font-style:italic;
}

#albumName, #bandMembers {
	font-family:'Passion One', cursive;
	font-size:32px;
	text-align:center;
}

#albumCover {
	background-image:url("https://up-1.cdn-fullscreendirect.com/production/photos/8160/large/20151009_212149_8160_769481.jpeg");
	background-repeat:no-repeat;
	background-size:200px;
	height:200px;
    background-position:top center;
}

.tracks {
	text-align:center;
}