header {
	font-size:36;
	font-family:'Shrikhand', cursive;
	text-align:center;
}

footer {
	font-weight:bold;
	font-size:18;
	text-align:center;
}

img {
	display: block;
	margin-left:auto; 
    margin-right:auto;
	width:400px;
	height:150px;
	border-style:solid;
	border-width:1px;
}

#navigation{
	border-spacing:10px;
}

#description {
	margin-left:auto; 
    margin-right:auto;
	width:400px;
	text-indent:20px;
	border-style:solid;
	border-width:1px;
	padding:5px;
}

#menu {
	margin-left:auto; 
    margin-right:auto;
	width:90%;
	text-align:center;
}

#form {
	width:75%;
	border-spacing:12px;
}

#homeContent {
	background-color:OliveDrab;
}

#bodyMenu {
	background-color:Wheat;
}
	
.itemNames {
	font-weight:bold;
	font-size:18;
	padding:5px;
}

.formLabels {
	text-align:right;
	font-weight:bold;
	vertical-align:top;
}