header {
	font-size:36;
	font-family:'Shrikhand', cursive;
	text-align:center;
}

footer {
	font-weight:bold;
	font-size:18;
	text-align:center;
}

img {
	display: block;
	margin-left:auto; 
    margin-right:auto;
	width:400px;
	height:150px;
	border-style:solid;
	border-width:1px;
}

caption {
	text-align:center;
}

a:visited {
	color:green;
}

a:hover {
	font-weight:bold;
}

a:active {
	text-decoration:none;
}

#menu {
	margin-left:auto; 
    margin-right:auto;
	width:90%;
	text-align:center;
}

#drinks {
	margin-left:auto; 
    margin-right:auto;
	width:15%;
	text-align:center;
}

#drinks td {
	text-align:left;
}

#drinks caption {
	text-decoration:underline;
}

#form {
	width:75%;
	border-spacing:12px;
}

#homeContent {
	background-color:OliveDrab;
}

#bodyMenu {
	background-color:Wheat;
}

.itemNames {
	font-weight:bold;
	font-size:18;
}

.formLabels {
	text-align:right;
	font-weight:bold;
	vertical-align:top;
}

.jumbotron p {
	text-align:center;
}

.col-sm-4 p {
	margin-left:auto; 
    margin-right:auto;
	width:400px;
	text-indent:20px;
	border-style:solid;
	border-width:1px;
}

