td, li {
	font-style:italic;
}

caption {
	font-size:18px;
	font-weight:bold;
	text-align:center;
}

thead {
	background-color:grey;
}

a {
	font-weight: bold;
	font-size:20;
}

a:link {
	text-decoration:none;
}

a:visited {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	background-color:black;
	color:white;
}

a:active {
	text-decoration:none;
}

#albumName, #bandMembersCaption {
	font-family:'Passion One', cursive;
	font-size:32px;
	text-align:center;
}

#bandMembers {
	margin-left:auto; 
    margin-right:auto;
	width:80%;
}

.table td {
   text-align:center;   
}

/*
*#albumCover {
*	( background-image:url("https://up-1.cdn-fullscreendirect.com/production/photos/8160/large/20151009_212149_8160_769481.jpeg");
*	background-repeat:no-repeat;
*	background-size:200px;
*	height:200px;
*    background-position:top center;
*}
*/

/*
*#tracks  {
*	text-align:center;
*	margin-left:auto; 
*   margin-right:auto;
*	width:80%;
*	background-color:Wheat;
*	border-collapse:collapse;
*}
*/

/*
*#tracks td, th{
*	border: solid 1px black;
*}
*/