header {
	font-size:36;
	font-family:'Shrikhand', cursive;
	text-align:center;
}

footer {
	font-weight:bold;
	font-size:18;
	text-align:center;
	margin:10px;
}

img {
	display: block;
	margin-left:auto; 
    margin-right:auto;
	width:400px;
	height:150px;
	border-style:solid;
	border-width:1px;
}

a:visited {
	color:green;
}

a:hover {
	font-weight:bold;
}

a:active {
	text-decoration:none;
}

#form {
	width:75%;
	border-spacing:12px;
}

#homeContent {
	background-color:OliveDrab;
}

#bodyMenu {
	background-color:Wheat;
}

.formLabels {
	text-align:right;
	font-weight:bold;
	vertical-align:top;
}

.jumbotron p {
	text-align:center;
}
