body {
	background-color:DarkGreen;
}

caption {
	text-align:center;
	font-size:18px;
	color:Black;
	font-weight:bold;
	text-decoration: underline;
}

#gameTitle {
	font-family: 'Ewert', cursive;
	text-align:center;
	font-size:48px;
	color:Red;
}

#validationError {
	text-align:center;
	font-weight:bold;
	font-size:18px;
	color:Red;
}

#resultsDisplay {
	margin-left:auto; 
    margin-right:auto;
	width:40%;
	background-color:GoldenRod;
}

#resultsDisplay th {
	background-color:DarkGoldenRod;
}

.row {
	padding-bottom:20px;
}

